---
import '../style/main.css';

interface Props {
    title: string;
	description?: string;
}
const {description = "The silliest little furry calculator! UwU"} = Astro.props;
var { title } = Astro.props;
if (title === "Home") {
	title = "DessieOwO";
} else {
	title = "DessieOwO | " + title;
}
---
<head>
	<meta charset="utf-8" />

	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

	<meta name="viewport" content="width=device-width" />

	<title>{title}</title>

	<meta name="title" content={title}/>
	<meta name="description" content={description} />

	<meta property="og:type" content="website" />
	<meta property="og:url" content={Astro.url} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content="/favicon.svg"/>

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content={Astro.url} />
	<meta property="twitter:title" content={title} />
	<meta property="twitter:description" content={description} />
	<meta property="twitter:image" content="/favicon.svg" />

	<!-- Font Preload -->
	<link rel="preload" href="/fonts/MonaspaceArgonNF-Light.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/MonaspaceArgonNF-Bold.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/MonaspaceArgonNF-LightItalic.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/MonaspaceXenonNF-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>
</head>